.Price{
  text-align: center;
}

.Price .Price-title, .Price .Price-title .Price-currency{
  color: #df6800;
}

.Price .Price-subtitle{
  font-size: 12px;
}

.Price .Price-title{
  font-size: 32px;
  margin-bottom: 0;
}

.Price .Price-title .Price-currency{
  font-size: 24px;
}