.Box.panel .panel-title a {
  display: block;
}

.Box.panel .panel-title i{
  margin-right: 10px;
}

.Box.panel .panel-title, .Box.panel .panel-title i{
  color: #157ab1;
}

.Box.panel .panel-body{
  padding-top: 0;
  padding-bottom: 0;
}

.Box.panel{
  border: none;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0,0,0,.05);
  margin-bottom: 10px;
}

.Box.panel .panel-title h3{
  margin-top: 10px;
}

.Box.panel-default>.panel-heading{
  background: transparent;
  border: none;
}